#clock {
    margin-left: 200px;
    height:500px;
    width:500px;
    color: white;
    background-color: black;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 500px;
    font-family: 'IBM Plex Sans', sans-serif;


}

#hex {
    margin-left: 200px;
    height:500px;
    width:500px;
    color: white;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 500px;
    font-family: 'IBM Plex Sans', sans-serif;


}

.container {
    margin: auto;
    width: 1000px;

}
